
 p{
  font-family: roboto;
  margin-top: 0;
  margin-bottom:0;
 }
 .video-title{
    font-weight: bold;
    font-size: 18px;
    width:300px;
    line-height:24px;
    margin-bottom:5px;
  }
  .video-stats{
    font-size:14px;
    color:rgb(64, 64, 64);
    margin-top:0;
    margin-bottom:20px; 
  }
  .video-author{
    color:rgb(96,96,96);
    font-size:14px;
    margin-top:0;
    margin-bottom: 12px;
  }
  .video-description{
    font-size: 14px;
    color:rgb(96,96,96);
    width: 450px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .apple-text{
    margin-bottom: 50xp;
    font-size:14px;
    background-color:rgb(183, 50, 50);
    color:white;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
  }
  .shop:hover{
    text-decoration:underline;
    cursor: pointer;
  }
